.vote-arrow {
	height:20px;
	width:20px;
}

.center {
	margin: auto;
}

.center-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}	