<h1 class="text-center">Video</h1>
<br/>



<div class="col-md-8 col-md-offset-2">
	<!-- error message -->
	<div ng-if="errorMessage" class="alert alert-danger">
	  <strong>Error:</strong> {{ errorMessage }}
	</div>
	<!-- end error message -->
</div>
<div style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;">
<video id="player" controls autoplay></video>
<button id="capture" ng-click="capture()">Capture</button>
<canvas id="snapshot" width=320 height=240></canvas>
</div>