<h1 class="text-center">Audio</h1>
<br/>



<div class="col-md-8 col-md-offset-2">
	<!-- error message -->
	<div ng-if="errorMessage" class="alert alert-danger">
	  <strong>Error:</strong> {{ errorMessage }}
	</div>
	<div ng-if="successMessage" class="alert alert-success">
	  <strong>Success:</strong> {{ successMessage }}
	</div>
	<!-- end error message -->
	<button ng-click="startListening()">Start Recording</button>
	<button ng-click="stopListening()">Stop Recording</button>
	{{currentSpeech}}

</div>