<h1 class="text-center">Audio</h1>
<br/>



<div class="col-md-8 col-md-offset-2">
	<!-- error message -->
	<div ng-if="errorMessage" class="alert alert-danger">
	  <strong>Error:</strong> {{ errorMessage }}
	</div>
	<div ng-if="successMessage" class="alert alert-success">
	  <strong>Success:</strong> {{ successMessage }}
	</div>
	<!-- end error message -->
	<button class="btn btn-lg btn-default" ng-click="startListening()">Start Recording</button>
	<button class="btn btn-lg btn-default" ng-click="stopListening()">Stop Recording</button>
	<br><br>
	<div class="panel panel-default" ng-if="currentSpeech">
	<div class="panel-body">
	{{currentSpeech}}
	</div>
	</div>
	<button class="btn btn-lg btn-primary" ng-click="submit()" ng-if="currentSpeech">Submit</button>

</div>
