<h1 class="text-center">Video</h1>
<br/>



<div class="col-md-8 col-md-offset-2">
	<!-- error message -->
	<div ng-if="errorMessage" class="alert alert-danger">
	  <strong>Error:</strong> {{ errorMessage }}
	</div>
	<!-- end error message -->

	<!-- create goods form -->
<!-- 	<form id="create-form" name="create-form">
		<input type="text" ng-model="goodsCategory" class="form-control" name="category" placeholder="Category" />
		<input type="text" ng-model="goodsName" class="form-control" name="name" placeholder="Name" />
		<input type="number" ng-model="goodsPrice" class="form-control" name="price" placeholder="Price" min="0" step="any"/>
		<input type="number" ng-model="goodsLikes" class="form-control" name="likes" placeholder="Likes" min="0" step="1"/>
		<input type="number" ng-model="goodsRating" class="form-control" name="rating" placeholder="rating" min="0" step="any"/>
		

		<br/>
		<button class="btn btn-primary btn-lg" ng-click="createGoods()" value="submit">Submit</button>
	</form> -->
	<!-- end create goods form -->

	
	<!-- <img src="">
	<canvas style="display:none;"></canvas> -->
</div>
<div style="display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;">
<!-- <video autoplay muted="muted"></video> -->
<video id="player" controls autoplay></video>
<button id="capture" ng-click="capture()">Capture</button>
<canvas id="snapshot" width=320 height=240></canvas>
</div>