<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</header>

<!-- <h1 class="text-center">Items</h1> -->

<!-- error -->
<div ng-if="errorMessage" class="alert alert-danger">
  <strong>Error:</strong> {{ errorMessage }}
</div>
<div ng-if="successMessage" class="alert alert-success">
    <strong>Success:</strong> {{ successMessage }}
</div>
<!-- end error -->
<hr>
<!-- Show feedback that has not been allocated -->
<h2 class="text-center">Feedback</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Feedback</th>
            <th>Priority</th>
            <th>Suggested Allocation</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="fb in feedback">
            <td>{{fb.feedback}}</td>
            <td>{{fb.score}}</td>
            <td><span ng-if="showManpower">{{fb.person}}</span></td>
        </tr>
    </tbody>
</table>
<!-- {{feedback}} -->
<button class="btn btn-default" ng-click="allocateManpower()">Allocate Manpower</button>
<button class="btn btn-default" ng-click="respondToLowPriority()">Respond To Low Priority</button>
<hr>

<h2 class="text-center">Image Feedback</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Category</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="imgfb in imageFeedback">
            <td><img src="{{imgfb.image}}"></td>
            <td>{{imgfb.category}}</td>
            <td>{{imgfb.priority}}</td>
        </tr>
    </tbody>
</table>




<!-- goods -->
<!-- <h2 class="text-center">Goods</h2>

<table class=table>
<thead>
<tr>
<th> Category </th>
<th> Name </th>
<th> Price </th>
<th> Likes </th>
<th> Rating </th>
</tr>
</thead>
<tbody>
<tr ng-repeat="goods in goodsData">
<td>{{goods.category}}</td>
<td>{{goods.name}}</td>
<td>{{goods.price}}</td>
<td>{{goods.likes}}</td>
<td>{{goods.rating}}</td>
</tr>
</tbody>
</table> -->
<!-- <div ng-repeat="goods in goodsData">
	<div class="panel-body">
	{{goods.category}} {{goods.name}}
	</div>
</div> -->
<!-- end goods -->
<!-- <hr> -->

<!-- services -->
<!-- <h2 class="text-center">Services</h2>

<table class=table>
<thead>
<tr>
<th> Category </th>
<th> Name </th>
<th> Price </th>
<th> Likes </th>
<th> Rating </th>
</tr>
</thead>
<tbody>
<tr ng-repeat="services in servicesData">
<td>{{services.category}}</td>
<td>{{services.name}}</td>
<td>{{services.price}}</td>
<td>{{services.likes}}</td>
<td>{{services.rating}}</td>
</tr>
</tbody>
</table>

<hr> -->
<!-- end services