altgraph==0.12
awscli==1.11.35
backports-abc==0.5
backports.weakref==1.0rc1
bleach==1.5.0
bokeh==0.12.4
botocore==1.4.92
certifi==2017.1.23
cloudsight==0.9.2
colorama==0.3.7
cycler==0.10.0
dask==0.12.0
decorator==4.0.10
Django==1.10.6
django-filter==1.0.4
djangorestframework==3.6.3
docutils==0.13.1
funcsigs==1.0.2
futures==3.0.5
googlemaps==2.4.3
gunicorn==19.6.0
h5py==2.7.0
html5lib==0.9999999
httpie==0.9.9
imutils==0.3.5
iso8601==0.1.11
Jinja2==2.9.5
jmespath==0.9.0
Keras==2.0.5
macholib==1.7
Markdown==2.2.0
MarkupSafe==1.0
matplotlib==1.5.3
mercurial==3.6.3
mock==2.0.0
modulegraph==0.12.1
networkx==1.11
nltk==3.2.2
numpy==1.11.2
oauthlib==2.0.2
pbr==1.8.1
phonenumbers==7.3.0
Pillow==3.4.2
protobuf==3.3.0
psycopg2==2.6.1
py2app==0.10
pyasn1==0.1.9
PyAudio==0.2.9
PyAutoGUI==0.9.33
Pygments==2.2.0
PyMsgBox==1.0.3
pyobjc==3.1.1
pyobjc-core==3.1.1
pyobjc-framework-Accounts==3.1.1
pyobjc-framework-AddressBook==3.1.1
pyobjc-framework-AppleScriptKit==3.1.1
pyobjc-framework-AppleScriptObjC==3.1.1
pyobjc-framework-ApplicationServices==3.1.1
pyobjc-framework-Automator==3.1.1
pyobjc-framework-AVFoundation==3.1.1
pyobjc-framework-AVKit==3.1.1
pyobjc-framework-CalendarStore==3.1.1
pyobjc-framework-CFNetwork==3.1.1
pyobjc-framework-CloudKit==3.1.1
pyobjc-framework-Cocoa==3.1.1
pyobjc-framework-Collaboration==3.1.1
pyobjc-framework-Contacts==3.1.1
pyobjc-framework-ContactsUI==3.1.1
pyobjc-framework-CoreBluetooth==3.1.1
pyobjc-framework-CoreData==3.1.1
pyobjc-framework-CoreLocation==3.1.1
pyobjc-framework-CoreText==3.1.1
pyobjc-framework-CoreWLAN==3.1.1
pyobjc-framework-CryptoTokenKit==3.1.1
pyobjc-framework-DictionaryServices==3.1.1
pyobjc-framework-DiskArbitration==3.1.1
pyobjc-framework-EventKit==3.1.1
pyobjc-framework-ExceptionHandling==3.1.1
pyobjc-framework-FinderSync==3.1.1
pyobjc-framework-FSEvents==3.1.1
pyobjc-framework-GameCenter==3.1.1
pyobjc-framework-GameController==3.1.1
pyobjc-framework-ImageCaptureCore==3.1.1
pyobjc-framework-IMServicePlugIn==3.1.1
pyobjc-framework-InputMethodKit==3.1.1
pyobjc-framework-InstallerPlugins==3.1.1
pyobjc-framework-InstantMessage==3.1.1
pyobjc-framework-LatentSemanticMapping==3.1.1
pyobjc-framework-LaunchServices==3.1.1
pyobjc-framework-LocalAuthentication==3.1.1
pyobjc-framework-MapKit==3.1.1
pyobjc-framework-MediaAccessibility==3.1.1
pyobjc-framework-MediaLibrary==3.1.1
pyobjc-framework-MultipeerConnectivity==3.1.1
pyobjc-framework-NetFS==3.1.1
pyobjc-framework-NotificationCenter==3.1.1
pyobjc-framework-OpenDirectory==3.1.1
pyobjc-framework-Photos==3.1.1
pyobjc-framework-PhotosUI==3.1.1
pyobjc-framework-PreferencePanes==3.1.1
pyobjc-framework-PubSub==3.1.1
pyobjc-framework-QTKit==3.1.1
pyobjc-framework-Quartz==3.1.1
pyobjc-framework-SceneKit==3.1.1
pyobjc-framework-ScreenSaver==3.1.1
pyobjc-framework-ScriptingBridge==3.1.1
pyobjc-framework-SearchKit==3.1.1
pyobjc-framework-ServiceManagement==3.1.1
pyobjc-framework-Social==3.1.1
pyobjc-framework-SpriteKit==3.1.1
pyobjc-framework-StoreKit==3.1.1
pyobjc-framework-SyncServices==3.1.1
pyobjc-framework-SystemConfiguration==3.1.1
pyobjc-framework-WebKit==3.1.1
pyparsing==2.1.10
PyScreeze==0.1.8
python-dateutil==2.6.0
python-firebase==1.2
pyttsx==1.1
PyTweening==1.0.3
pytz==2016.3
PyYAML==3.12
requests==2.9.1
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.10
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
SexMachine==0.1.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
SpeechRecognition==3.3.1
stevedore==1.12.0
tensorflow==1.2.0
Theano==0.9.0
toolz==0.8.2
tornado==4.4.2
twython==3.5.0
virtualenv==14.0.6
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.12.2
whitenoise==3.3.0
